@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

.BoardList{
    color:#503365;
    font-family: 'Macondo', cursive;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 7;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: scroll;
}

ul{
    list-style: none;
    padding-left: 0;
}

.BoardList-UL {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin:5px;
    padding:8px;
}

.BoardHeader{
    background-color: #1a1259;
    box-shadow: 5px 2px 10px #fbefe0;
    color:#94cfd5;
}
