.Board{
    background-image: linear-gradient(to top, white,  #fbaa22);
    color: #503365;
    margin: 1em;
    align-items: center;
    font-weight: bolder;
    box-shadow: 5px 2px 10px #c3a99b;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: .5em;
    height: 125px;
    width: 125px;

}

.Title{
    font-size: 1.5em;
    box-shadow: 5px 2px 10px #c3a99b;
}

.Owner{
    font-style: italic;
    color:#1946a1;
    box-shadow: 5px 2px 10px #c3a99b;
}