@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

.BoardList{
    color:#503365;
    font-family: 'Macondo', cursive;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 7;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: scroll;
    box-shadow: 5px 2px 10px #c3a99b;
}

ul{
    list-style: none;
    padding-left: 0;
    box-shadow: 5px 2px 10px #c3a99b;


}

.BoardList-UL {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 5px 2px 10px #c3a99b;
}

.BoardHeader{
    background-image: linear-gradient(to top, #fbaa22, white);
    box-shadow: 5px 2px 10px #c3a99b;
}
