@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

.CardList{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    color:#503365;
    font-family: 'Macondo', cursive;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    overflow: scroll;
}

.card-header{
    background-color: #1a1259;
    color: #94cfd5;
    box-shadow: 5px 2px 10px #c3a99b;
}
.no-board-selected {
    background-color: #503365;
    box-shadow: 5px 2px 10px #fbefe0;
    height: 260px;
    width: 275px;
    color: #eb849f;
    margin:3px;
    padding:3px;
}
.CardList-UL{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sort-alphabetically-button {
    font-size: 2em;
    margin: 0px;
}

.sort-alphabetically-button:hover {
    font-size: 3em;
}