@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

.CardList{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    color: #874444;
    font-family: 'Macondo', cursive;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    overflow: scroll;
}

.card-header{
    background-color:#149700;
    color:#85cb4f; 
    box-shadow: 5px 2px 10px #233938;
}
.no-board-selected {
    background-color: #fbefe0;
    box-shadow: 5px 2px 10px #233938;
    height: 150px;
    width: 150px;
    color: red;
}
.CardList-UL{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sort-alphabetically-button {
    font-size: 2em;
    margin: 0px;
}

.sort-alphabetically-button:hover {
    font-size: 3em;
}