@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

.NewBoardFormOuterContainer{  
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.NewBoardFormInnerContainer{
    /* margin:2px; */
    /* padding:2px; */
    /* border:2px;
    border-color: #a2abce;
    border-style: solid; */
    background-color: #1a1259;
}

button{
    opacity:100%;
    padding: 8px 6px;
    font-size: 20px;
    border-radius: 10px;
    margin:2px;
    font-family: 'Macondo', cursive;
    font-weight: bolder;
    box-shadow: 5px 2px 10px #c3a99b;
}

button:hover{
    color:#c4d2d2;
    background-color: #2c3619;
}

.NewBoardFormButton{
    background-color:#883488;
    color: #fbefe0;
}

.NewBoardFormButton:hover{
    color: white;
}

.h2s{
    color: #94cfd5;
    font-size: 35px;
    font-family: 'Macondo', cursive;
    font-weight: bold;
    margin:5px;
    padding:2px;

}

.new_board_fields{
    background: #fbaa22;
    margin:1px;
    padding:5px;
    box-shadow: 5px 2px 10px #c3a99b;

}

label{
    color:#fff078;
    font-size: 25px;
    font-family: 'Macondo', cursive;
    font-weight: bolder;
    /* font-style: oblique; */
    margin: 2px;
    padding:5px;
}

input{
    background-color:#94cfd5;
    margin:2px;
    padding:5px;
    box-shadow: 5px 2px 10px #c3a99b;
}

.new_board_submit_button{
    margin:3px;
    margin-top: 8px;
    background-color:#c74097;
    color: #fbefe0;
    box-shadow: 5px 2px 10px #c3a99b;

}

.new_board_submit_button:hover{
    color:#fbefe0;
    background-color:#2c3619;
}