.error {
    color: hsl(0, 0%, 34%);
    border: 2px solid;
    border-color: rgb(252, 129, 20);
    border-radius: 15px;
    border-width: 4px;
    background-color: #fdc89a;
    padding: .5em;
    display: flex;
    margin: 10px;
}

.no-error {
    display: none;
}

.new_card_form {
    position: relative;
    color: rgb(165, 121, 0);
    margin: 3rem;
}

.new_card_fields {
    background-color: rgb(249, 255, 186);
    margin: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: solid 5px;
    border-radius: 10px;
    border-color: rgb(255, 242, 0);
}

.new-card-h2 {
    color: rgb(255, 242, 0);
}

.message-input {
    font-size: 1.25em;
    font-weight: bold;
    font-family:  Chancery L, cursive;
    align-self: center;
}

.new_card_submit, .message-input-bank {
    color: rgb(165, 121, 0);
    font-family:  Chancery L, cursive;
    font-weight: bold;
    border: solid;
    border-radius: 5px;
    border-color: rgb(165, 121, 0);
    background-color: rgb(249, 255, 186);
}

.new_card_submit:hover {
    opacity: .8;
    background-color: rgb(239, 248, 143);
    border: 8px, solid;
    border-width: 5px;
}

.message-input-bank:hover {
    border: 8px, solid;
    border-width: 5px;
}

.message-input-bank:focus {
    outline: none;
}